.Favorites-section{
    height: 100%;
    width: 100%;
}

.Favorites-section .category-section{
    display: none;
}

.Favorites-heading-container{
    background-color: rgb(237, 241, 245);
    height: 800px;
    min-height: 400px;
    width: 100%;
    padding: 0px 50px;
     

}

.Favorites-heading-container .Favourites-title{
    display: flex;
    align-items: center;
}

.Favorites-title-icon{
    /* margin-bottom: 10px; */
    margin: 10px 0px;
}
 

.Favorites-title{
    font-size: 25px;
    font-weight: 700;
    
}

.Favorites-title-star{
    font-size: 25px;
    color:rgb(32, 82, 148);
    
     
 
}

.Favorites-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.Favorites-cards{ 
    /* min-width: 280px; */
    max-width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}


.Favorites-cards:hover{
    transform: translateY(-8);
    box-shadow: 10px 10px 10px rgb(rgb(19, 11, 11, 0.9));
}

.Favorites-img{
     
    width: 100%;
    max-width: 100%;
    height: 250px;
    border-radius: 5px;
    transition: 0.3s;
     
    
     
}

.Favorites-img:hover{
    transform: scale(1.01);
     
     
}

.final-rating{
    font-size: 14px;
}

.Favorites-img-title{
    font-weight: 600;
}

.Favorite-star-icon-with-title{
    color: rgb(255, 149, 0);
}

.uploaded-by-added-date{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
     
}

.uploaded-by-added-date .uploader{
    color: blue;
}

.uploaded-by-added-date span{
    display: flex;
}
.favorite-image-uploader-profile{
    height: 30px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    
}

.uploaded-by-added-date .added-date{
    border-left: 2px solid black;
    padding-left: 5px;
}

.Favorites-card-like-count-icon{
    color: red;
    margin-right:10px ;
}

.Favorites-cards-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    
    
}

.Favorites-cards-btns .like-btn, .share-btn, .remove-btn{
    background-color: rgb(237, 241, 245);
    width: 100%;
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 600;
    /* border-right: 2px solid black;
    border-top: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    

     
}

.remove-btn{
    display: flex;
    justify-content: center;
    padding-right: 6px;
}

    
.Favorites-card-like-icon{
        color: black;
}


.Favorites-cards-container hr{
    margin: 5px;
}

.Favorites-cards .like-counts{
    margin-bottom: 5px;
}


.empty-favorite{
    height: 400px;
    width: 100%;
    border: 2px solid rgb(137, 131, 131);
    text-align: center;
    padding-top: 100px;
}


.favorite-flash{
    animation: flashBtn 0.3s ease;
}

@keyframes flashBtn{
    0%{
        background:#ffb703;
        transform:scale(1);
    }

    50%{
        background:#ffd166;
        transform:scale(1.05);
    }

    100%{
        background:inherit;
        transform:scale(1);
    }
}