.image-detail-container{
    height: 600px;
    width: 70%;
    border: 2px solid rgb(71, 69, 69);
    border-radius: 20px;
    display: flex;
    margin: auto;
       
}

.uploader-div{
    display: flex;
    justify-content: space-between;
}

.title-heading{
    margin-top: 10px;
}

.description-content{
     width: 100%;
}
.detail{
    padding: 10px 20px;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
     
     
}



.image-detail-mainImg .image{
    height: 100%;
    /* width: auto; */
    max-width: 350px;
    border-radius: 17px; 
}

.image-detail-bgimg .background-img-detail{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: px;
    border-radius: 17px; 
    overflow: hidden;
    opacity: 0.7;
}

.image-detail-mainImg{
    position: relative;
    box-shadow: 10px 10px 10pc regb(red);
}

.image-detail-mainImg .image:hover{ 
    filter:brightness(115%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
      
}
.uploader{
    display: flex;
}

.uploader img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}

.uploader span{
    font-weight: 700;     
}
.description-uploader{
    display: flex;
    justify-content: space-between;
}
 
.price-box{
    background-color: rgb(232, 221, 221);
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
}
.original-price-form{
    font-weight: 500;
    font-size: 17px;
}

.price{
    display: flex;
    flex-direction: column;
}
.offer{
    font-size: 14px;
}

.final-price{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.price-buy{
    display: flex;
    justify-content:left;
    /* width: 70%;   */
    align-items: center;
    margin-bottom: 5px; 
    gap: 10px;
       
}


@media(max-width:1200px){
    .comment-container{
        display: none;
    }
}


@media(max-width:1215px){
     .price-buy{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .price-box, .buy-btn {
        width: 100%;
    }
     

}

@media (max-width:1141px) {
    
}

@media (max-width:1130px) {
    .price-buy{
        width: 100%;
    }    
}
@media (max-width:967px) {
    
    .image-detail-container{
        height: 600px;
        width: 80%; 
    }   
    .like-comment-count{
        display: flex;
        flex-direction: column;
    }
    .comment-box{
        margin-top: 50px;
    }
     
    .image-detail-mainImg .image{
        width: 100%;
        min-width: 300px;
    }
}

 


@media (max-width:770px){
    .image-detail-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;          
    }
    /* .image-detail-mainImg .image{
        height: 500px;
    } */
    .image-detail-mainImg .image{
 
        max-width: 100%;
        height: 500px;
    }
}

@media (max-width:450px){
    .image-detail-mainImg .image{
        min-width: 200px;
    }
    
}

.buy-btn{
    font-size: 25px;
    height: 64px;
    background-color: red;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);    
}

.comment-box{
    position: absolute;
    width:auto ;
    user-select: none;
    bottom: 5px;
    left: 20px;
    right:20px;
    
   
}
.comment{     
    width: 100%;
    height: 45px;
    background-color: rgb(229, 248, 248);  
    color:black;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px 55px 5px 15px; 
    user-select: none;    
}
.comment-submit-btn{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    color: rgb(78, 71, 71);
    user-select: none;
     
}
 
p{
    margin: 0px;
}

.like-comment-count{
    display: flex;
    justify-content: space-between;
}

.like-count, .comment-count{
    font-size: 30px;
}

.comment-profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.comments{
    display: flex;
    margin-bottom: 10px;
}

 

.comment-content{
    display: flex;
    flex-direction: column;     
}

.comment-userName{
    font-weight: 700;
}
.comment-line{
    font-size: 16px;
}

.like_comment{
    display: flex;
    gap: 20px;
}

.ratingCount{
    margin-bottom: 5px;
} 