.Image-Card{
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-bottom: 16px;
     
}

.Image-Card img{
    width: 100%;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease ;
}

.image-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.Image-Card:hover img{
    transform: scale(1.05);
}
 
 
div .like-share{
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px; 

    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;   
}

div .card-icons{
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    /* flex-direction: column; */
    gap: 10px; 

    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;   
}

 
.Image-Card:hover .card-icons{
    opacity: 1;
}

.card-icons span{
    /* display: none; */
    /* background-color: rgba(198, 196, 238, 0.9);    */
    background-color: white;
    padding: 8px;
    border-radius: 50%; 
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

.card-icons .like-icon{
    color: rgb(54, 52, 52);
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .25s;
    cursor: pointer;
}

.card-icons span:hover, .like-icon:hover{
    transform: scale(1.1);
    transition:.3s;
}

.like-icon.liked{
    color:#ff1744;
    transform:scale(1.15);
}

.like-icon{
    transition:all .25s ease;
    font-size:24px;
    
}