.Profile-container{ 
    margin: 50px;
    margin-top: px;
}

.Profile-container .header-icons-section{
    width: 100%;
    display: flex;
    justify-content: end; 
}

.header-icons-section .header-icons{
    background-color: rgb(237, 238, 238);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px 20px 10px 50px;
    margin-bottom: 10px;
    /* box-shadow: 5px 0px 10px 2px rgba(84, 79, 79, 0.9);  */
    box-shadow: 0 6px 18px rgba(0,0,0,.15);
     
}

.header-icons span{
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    color: rgb(95, 90, 90);
}

.header-icons span:hover{
    transform: scale(1.08);
}

.header-icons .menu-icon{
    font-size: 30px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
 
.top-section{
    display: flex;
    gap: 30px;
    margin-left: 100px;
    width: 400px;

}

 
.Profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 5px 0px 10px 2px rgba(84, 79, 79, 0.9); 
 
     
}
.Profile-image:hover{
    transform: scale(1.05);
}
.post-following-followers-container{
    display: flex;
    gap: 20px;
}

.post-following-followers-container div{
    line-height: 24px;
}
.user-name{
    font-weight: 900;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.post-following-followers-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-post, .user-followers, .user-following{
    font-weight: 600;
    font-size: 20px;
}

.post-count, .followers-count, .following-count{
    font-size: 20px;
}

.bio{
    margin-left: 100px;
    width: 400px;
    font-size: 16px;
    line-height: 16px;
}

.edit-message-btn{
    margin-left: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    margin-top: 10px;
}


.edit-message-btn button{
    height: 50px;
    width: 120px;
    border-radius: 15px;
    border: 0px;
     
     
}

.edit-message-btn .edit-btn{
    background: rgb(65, 124, 234);
}

.edit-message-btn .message-btn{
    /* background: rgb(122, 121, 122); */
    background:#e9ebeb;
    color:#222;
}

.my-post-grid{ 
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     
    gap: 15px;
    width: 100%;
}

.my-post-grid img{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    
}


.post-favorites{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px; 
}

.post-favorites .my-posts{
     text-decoration: underline;
}

.profile-hr{
    margin: 10px;
}
 